### Import required libraries

In [33]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score
from sklearn.preprocessing import StandardScaler
import pickle

In [3]:
df = pd.read_csv('credit.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
## dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
sc = StandardScaler()
df['Amount'] = sc.fit_transform(pd.DataFrame(df['Amount']))

In [7]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403,0

In [8]:
df = df.drop(['Time'],axis =1)

In [10]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403,0

In [11]:
df.duplicated().any()

True

In [12]:
df = df.drop_duplicates()

In [13]:
df.shape

(275663, 30)

In [14]:
df['Class'].value_counts()

Class
0    275190
1       473
Name: count, dtype: int64

### Under Sampling

In [55]:
normal = df[df['Class']==0]
fraud = df[df['Class']==1]

print(normal.shape)
print(fraud.shape)

normal_sample = normal.sample(n=473)
print(normal_sample.shape)

new_df = pd.concat([normal_sample,fraud],ignore_index=True)
print(new_df['Class'].value_counts())
new_df.head()

(275190, 30)
(473, 30)
(473, 30)
Class
0    473
1    473
Name: count, dtype: int64

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-0.281973,1.061407,-0.437979,-0.428775,0.141757,-0.980833,0.507079,0.366749,-0.239924,-0.301959,...,0.457540,1.368937,-0.061072,0.019198,-0.870642,-0.232548,0.375963,0.247250,-0.346872,0
1,1.671371,-2.180643,-3.193382,-1.579405,-0.083053,-0.645994,0.471687,-0.588037,-2.464489,1.717670,...,0.361001,0.678310,-0.550756,0.184902,0.604178,0.244381,-0.148730,-0.029089,1.246165,0
2,-1.179629,0.423884,0.594058,-2.917960,0.143923,-0.341036,-0.029978,-1.777219,-0.368850,-0.592556,...,1.294793,-0.522915,-0.381320,0.705671,1.046167,0.596505,-0.063137,0.084374,-0.352710,0
3,-2.456734,-0.378442,0.529989,2.563804,-0.374465,2.989292,2.957546,-0.032247,-1.200549,0.174983,...,-0.103832,0.783137,0.274322,-0.310618,1.514880,0.417937,0.327409,-0.279639,1.934516,0
4,-1.786797,2.049325,0.296345,-0.679504,0.943710,-1.622050,2.327558,-2.184961,2.580363,3.176129,...,0.064593,1.258066,-0.282241,0.749827,-0.707196,-0.530081,-1.933569,-0.934853,-0.349271,0

In [57]:
x = new_df.drop('Class',axis=1)
y = new_df['Class']

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [61]:
classifier = {
    "Logistic Regression " : LogisticRegression(),
    "Decision Tree Classifier ": DecisionTreeClassifier()
}

for name,clf in classifier.items():
    print(f"\n========{name}========")
    clf.fit(x_train,y_train)
    pred_val = clf.predict(x_test)
    accuracy = accuracy_score(y_test,pred_val)
    print(f"\n Accuracy: {accuracy_score(y_test,pred_val)}")
    print(f"\n Precision: {precision_score(y_test,pred_val)}")
    print(f"\n Recall: {recall_score(y_test,pred_val)}")
    print(f"\n F1_Score: {f1_score(y_test,pred_val)}")

========Logistic Regression ========

 Accuracy: 0.9263157894736842

 Precision: 0.94

 Recall: 0.9215686274509803

 F1_Score: 0.9306930693069307

========Decision Tree Classifier ========

 Accuracy: 0.8894736842105263

 Precision: 0.8785046728971962

 Recall: 0.9215686274509803

 F1_Score: 0.8995215311004785